@font-face {
    font-family: 'Grunge Font';
    src: url('GrungeFont-Regular.woff2') format('woff2'),
        url('GrungeFont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

