html,body
{
    overflow-x: hidden; 
}

.flexbody {
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
}

/* font-family: 'Raleway', sans-serif; */

@font-face {
    font-family: CaviarDreams;
    src: url(caviardreamsfont/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.woff);
  }

p {
    font-size: 18px;
    line-height: 1.0;
    font-family: 'Raleway', sans-serif;
}

h2 {
  
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    

}

h4 {
    font-size: 22px;
    font-family: CaviarDreams;
    /* padding-top: 5px; */
}

h5 {
    font-size: 30px;
    font-family: CaviarDreams;
}

h6 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;

}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  width: 800px;
  
}



  /* Nav Bar */

.topNavLogo {
    display: flex;
    height: 5vh;
    order: 0;
    padding-top: 2%;
    padding-left: 10px;
    } 

/* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* body {
    font-family: CaviarDreams;
    font-size: 16px;
} */

nav {
    background: #222;
    /* padding: 0 15px; */
    display: flex;
    height: 10vh;
}

a {
    color: white;
    text-decoration: none;
}

.menu {   
    list-style-type: none;
    
}

.item {
    padding: 10px;
    text-decoration: none;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    text-decoration: none;
    color: #ccc;
}

 

@media all and (min-width: 10px) {
    
    #navbar {
        display: flex;
        /* align-items: center;   */
        justify-content: space-between;
        /* top: 0px; */
        
    }
    
    .menu {
        display: flex;
        list-style: none;
        /* flex-direction: row;   
        justify-content: flex-end;
        background: none; */
        text-transform: uppercase;
        align-items: center;
        padding-top: 5px;
        font-family: 'CaviarDreams';
    }

    .item {
        display: flex;
        justify-content: flex-end;
        /* order: 1;
        display: block; 
        width: auto; */
    }
    /* .first{
        padding-left: 50%;
    } */

    /* Buy Tickets Btn */

    .tixBtn {
        display: flex;
        flex: 1 1 auto;
        order: 2;
        justify-content: flex-end;
        flex: 1 1 auto;
        margin-right: 12px;
        margin-left: 10px;
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 9px;
        padding-bottom: 10px;
        transition: 0.5s;
        background-size: 100% auto;
        color: white;
       /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        box-shadow: 0 0 10px rgb(237, 181, 225);
        border-radius: 10px;
        background-image: linear-gradient(to right, #F4A6D3 0%, #D60091 51%, #7285FF 100%);
       }
       .tixBtn a:hover {
        text-decoration: none;
       }
    
       
       .tixBtn:hover {
        background-image: linear-gradient(to left, #F4A6D3 0%, #D60091 51%, #7285FF 100%);
        
      }
  
    
    .toggle {
        display: none;
    }
    
  

  .item a {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .item a::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .item a:hover::after {
      height: calc(100% + 8px)
  }

  a:focus {
    color: white;
    outline: none;
    text-decoration: none;
    }

  /* Hero Banner */

 .hero {
     padding-top: 25%;
     padding-bottom: 30%;
     
 }



  #videoSizeControl { 
    width: 100vw;
    position: absolute;
    top: 10vh;
    z-index: -4;
    
    }


  /* Page Content */

  .daytitles {
    background-image: url(https://media.giphy.com/media/7TzAeThpeQARsOMhHN/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1;
    font-family: 'CaviarDreams';
    padding-top: 10px;
    padding-bottom: 20px;
    left: 50%;
    
}

/* Schedule Page */

.schpg-content a {
  border-bottom: 1px solid #81dcf3;
  color: #f6f6f8;
  padding-bottom: .25em;
  text-decoration: none;
}

.schpg-content a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
  }


.schpg-content {
    display: flex;
    background: url("images/darkbgtexture.png");
    display: inline-block;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: -50px;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 30px;
    width: 100vw;
    
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 30px;
    
  }
  
  .column1 {
      height: 500px;

  }
  
  .column2 {
    height: 500px;
  }
   

  .headerGif {
    width: 100%;
    position: absolute;
    z-index: -1;
    
 }

  .heroSlide {
    width: 100vw;
    height: 50vh;
    margin-top: -20px;
    padding-top: 0px;
  }


  .herotitleWD {
    position: relative;
    top: 30vh;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    color: honeydew;
    font-family: 'CaviarDreams';
  }

  /* Gallery */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */

    }

    .gallery div {
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    }

    img {
    max-width: 100%;
    

    }
    
    .gallery div {
    flex: 25%;
    }

    .news {
      display: flex;
      margin-bottom: 10px;
    }


   

  /* Two Posters Section */

  .twoPosters {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    /* width: 100vw; */
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);  
    
}



  /* Text Break */

  .outlinegeoshape {
    height: 70px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
  }

  .textbreak1 {
    margin: auto;
    width: 80%;
    padding: 100px;

  }

  .tb1title {
    background-image: url(https://media.giphy.com/media/7TzAeThpeQARsOMhHN/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 1;
    font-family: 'CaviarDreams';
    padding-top: 20px;
    left: 50%;
    
}

.textbreakp {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
}



.eventartpic {
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: -10px; */
    margin-left: 0%;
    /* height: 837px;      */

}

.createbtmpic {
  margin-top: -15px;
  width: 100vw;
  margin-bottom: -15px;
  
}

/* Hover Box */

.overlay.hover-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  grid-gap: 1.5%;
  padding: 120px 5%;
  /* Kev added on the 22/09*/
  max-width:1330px;
  margin:0 auto;
}

.col{
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 25%;
  /* Kev changed height on the 22/09: */
  height: 30vw;
  max-height:380px;
  border-radius: 5px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.col:hover{
  /*   Scale the box */
  transform: scale(1.1);
  box-shadow:0 16px 32px 0 rgba(0,0,0,.24);
}

.box{
  position:relative;
  display:flex;
  align-items:flex-end;
  justify-content:center;
  width:100%;
  text-decoration:none;
}

.box:after{
  content:'';
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.835171568627451) 0%, rgba(0,0,0,0.3029586834733894) 50%, rgba(255,255,255,0) 100%);
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.box img{
  position: absolute;
  top: -3%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  z-index:1;
  transform: scale(1.2);
  transition: top 0.3s linear;
}


.box h5{
  color: #fff;
  z-index: 4;
  padding: 10%;
  text-align: center;
  text-decoration:none!important;
  /* Kev changed on the 22/09*/  
  font-size: 30px;
  pointer-events: none;
}

/* Hover animation */
.box img:hover {
  /*   Moves the image down */
  top: 5%;
}



/* For tablets: */
@media only screen and (max-width: 768px) {
  .hover-box{
    flex-wrap:wrap;  
  }
  
  .col{
    flex:unset;
    width:48%;
    margin-bottom:15px;
    height:240px;
  }
  
  .col:nth-last-child(1, 2) {
    margin-bottom: 0;
  }
  
  .box img{
    top: 10%;
  }
}

/* For mobile phones: */ 
@media only screen and (max-width: 500px){
  /*   One column */
  .overlay.hover-box {
    grid-gap: 1.5vw;
    padding: 15px 5%;
    display: flex;
    flex-flow:column nowrap;
  }

  .col{
    width: 100%;
    max-height:380px;
    height: 80vw;
  }
  
  .box img{
    top: 10%;
  }

  .col:last-child {
    margin-bottom: 0;
  }
  
  .box h5{
    color: #fff;
    z-index: 4;
    padding: 10%;
    text-align: center;
    text-decoration:none!important;
    font-size: 5vw;
  }
}

/* Merch Styling */

.merch {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  /* background-image: ; */
  /* margin-bottom: 50px; */

  }

  .merchcard {
  flex: 25%;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  }

  .merchflex-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
  }
  
  .merchflex-left {
    width: 50%;
    height: 300px;
    margin: 5px;
    margin-left: 150px;
    padding-top: 90px;
    /* border: 2px solid red; */
  }
  
  .merchflex-right {
    width: 28%;
    margin: 5px;
    margin-right: 150px;
    padding: -20px;
  
  }

  .example_f {
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.4s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    margin-top: -100px;
  }
  .example_f span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .example_f:hover span {
    padding-right: 25px;
  }
  .example_f:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* Event page Styling */

 

  .eventartcontent {
    display: flex;
    background: url("images/darkbgtexture.png");
    display: inline-block;
    background-size: cover;
    /* margin-top: 100px; */
    margin-bottom: -50px;
    padding-bottom: 100px;
    width: 100vw;
  }

  .eventflex-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    
  }
  
  .eventflex-left {
    width: 50%;
    height: 200px;
    /* margin: 5px; */
    margin-left: 150px;
    padding-top: 50px;
    /* border: 2px solid red; */
  }
  
  .eventflex-right {
    width: 40%;
    /* margin: 5px; */
    margin-right: 150px;
    /* padding: -20px; */
  
  }


/* Footer */

* {
    box-sizing: border-box;
    margin-top: 10px; 
    padding: 0px;
}
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.0;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: none;
}
.ft-title {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 0.625rem;
    padding-top: 10px;
}

.ft-main {
    /* padding: 1.25rem 1.875rem; */
    display: flex;
    width: 100vw;
    /* flex-wrap: wrap; */
    
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: #b900d1;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}
.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}




/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
/* div, */
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a, */
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
/* img, */
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
/* center, */
dl,
dt,
dd,
ol,
/* ul, */
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
/* footer, */
/* header, */
hgroup,
/* menu, */
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
/* section {
  display: block;
} */
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 