html,body
{
    overflow-x: hidden; 
}

/* Fonts */

@font-face {
  font-family: 'Grunge Font';
  src: url('fonts/GrungeFont-Regular.woff2') format('woff2'),
      url('fonts/GrungeFont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h4 {
    font-family: 'Grunge Font';
    font-size: 4vh;
}


  /* Hero Banner */

  .hero {
    padding-top: 25%;
    padding-bottom: 30%;
}


 .videoSizeControl { 
   width: 100vw;
   position: absolute;
   top: 10vh;
   z-index: -4;
   
   }


/* Splash Pg */

.splashbody {
    background-color: rgb(0, 0, 0);
}

.splashvid {
    /* width: 100vw; */
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
 }

 .decvid {
  /* width: 100vw; */
  display:flex;
  justify-content: center;
  /* height: 100vh; */
  width: 100vw;
  position: absolute;
  z-index: -1;
  margin-top: -5vh;
  
}

 .cinemapic
 /* width: 100vw; */
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
 }

.splashlogo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 26vh;
  }

.introtext {
    /* width: 1500px; */
    height: 90vh;
    position: absolute;
    animation-name: textrise;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  
  @keyframes textrise {
    0%   {left:17%; top:90px; opacity: 0%;}
    100% {left:17%; top:60px; opacity: 100%;}
  }

/* Decade Nav */

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  background: #222;
  height: 8vh;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  
  /* font-color: black; */
}


.topNavLogo {
  display: flex;
  height: 16vh;
  order: 0;
  margin-top: 0px;
  padding-top: 1.5%;
  } 

  .topNavLogo:hover {
    cursor: pointer;
    } 

.topnav a {
  display: flex;
  color: #f2f2f2;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  text-decoration: none;
  font-size: 3vh;
  text-transform: uppercase;
  height: 100%;
  padding-right: 2%;
  padding-left: 2%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.activedec {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffea02;
  height: 100%;
  /* padding: 0; */
  color:black;
}

/* .activedec {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffea02;
  height: 100%;
  padding: 0;
} */

/* Buttons */



#hdg-1 {
  color: rgb(0, 0, 0);
  /* text-align: center; */
  font-family: 'Grunge Font';
  font-weight: 400;
  font-size: 10rem;
  margin-top: 5px;
  
  position: absolute;
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
  z-index: 0;
  outline: none;
  backface-visibility: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 3s, sustain 3s infinite;
  -webkit-animation-delay: 7s, 10s;
  
  /*filter: url(#glitch-0);*/
}

#hdg-1:active {
  color: yellow;
}

@keyframes sustain {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 1;
  }
} 

  @import "compass/css3";


.nxtbtn {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    background: rgb(232, 213, 10);
	  border-radius: 50%;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
	  height: 100px;
    width: 100px;
    margin-left: 90%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	  transform: scale(1);
    -webkit-animation: fadeIn 3s, pulse 2s infinite;
    -webkit-animation-delay: 13s, 15s;
    opacity: 0;
  }

  .nxtdecbtn {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    position: absolute; 
    top: 35vh;
    background: rgb(232, 213, 10);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0; 
    /* margin-bottom: 55vh; */ 
    margin-left: 40vw;
	  height: 100px;
    width: 100px;
    padding: 3vw;
    box-shadow: 0 0 0 0 rgb(215, 214, 189);
	  transform: scale(1);
    -webkit-animation: decpulse 2s infinite;
    opacity: 0;
    z-index: 1;
  
  }

  .scrollbtn {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    background: rgb(232, 213, 10);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    margin-top: 35vh;
    margin-bottom: 55vh;
    margin-left: 40vw;
	  height: 150px;
    width: 150px;
    padding: 3vw;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	  transform: scale(1);
    -webkit-animation: fadeIn 3s, pulse 2s infinite;
    -webkit-animation-delay: 9s, 10s;
    opacity: 0;
    font-family: 'Grunge Font';
  }

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes pulse {
        0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            opacity: 1;
        }
    
        70% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            opacity: 1;
        }
    
        100% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes decpulse {
      0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(246, 247, 241, 0.7);
          opacity: 1;
      }
  
      70% {
          transform: scale(1);
          box-shadow: 0 0 0 10px rgba(246, 247, 241, 0.7);
          opacity: 1;
      }
  
      100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(246, 247, 241, 0.7);
          opacity: 1;
      }
  }

    .nxtbtntext {
        text-align: center;
        display:table-cell;
        vertical-align:middle; 
        font-family: 'Montserrat', sans-serif;
        color :black;
    }

    .nxtbtn:hover {
        background: rgb(237, 237, 233);
        cursor: pointer;
      }

    .nxtdecbtn:hover {
        background: rgb(237, 237, 233);
        cursor: pointer;
      }

    a:hover {
        cursor: pointer;
        text-decoration: none;
      }

    a:link {
        text-decoration: none;
      }
      
    a:visited {
        text-decoration: none;
      }
      
    a:active {
        text-decoration: none;
      }

      /* Decade Pages */


    .decadebg {
      background-color: black;
    }

    .viewWidth {
      width: 100vw;
    
    }

    .fullHeight {
      display: flex
      justify-content: center;
      width: 100vw;
      /* height: 100vh; */
      position: relative;
      z-index: -1;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .fullHeighttop {
      display: flex
      justify-content: center;
      margin-top: -20vh;
      width: 100vw;
      position: relative;
      z-index: -1;
    }
    
    .tag {
      opacity: 0;
      transform: translate(0, 5vh);
      transition: all 3s;
    }
    
    .tag.visible {
      opacity: 1;
      transform: translate(0, 0);
    }

/* Home Page */

    .titlestrip {
      display: flex;
      justify-content: center;  
      align-items: center;  
      position: absolute; 
      /* top: 35vh; */
      width: 60vw;
      left: 20%;
      top: 15%;
      
    }
    
   



  /* MEYER RESET */

/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
/* div, */
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a, */
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
/* img, */
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
/* center, */
dl,
dt,
dd,
ol,
/* ul, */
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
/* footer, */
/* header, */
hgroup,
/* menu, */
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
/* nav, */
/* section {
  display: block;
} */
body {
  line-height: 1;
}
/* ol,
ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} 